#include <layout_shift_kp_override.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans                &trans        &trans        &trans             &trans                                  &trans     &trans  &trans     &trans           &trans                &trans
&trans  &kp Q                 &kp W         &kp E         &kp R              &kp T                                   &kp Y      &kp U   &kp I      &kp O            &kp P                 &trans
&trans  &kp A                 &kp S         &kp D         &kp F              &kp G        &trans      &trans         &kp H      &kp J   &kp K      &kp L            &kp MINUS             &trans
&trans  &mt LEFT_SHIFT GRAVE  &kp Z         &kp X         &kp C              &kp V        &kp ESCAPE  &kp B          &kp N      &kp M   &kp COMMA  &kp DOT          &mt RIGHT_SHIFT FSLH  &trans
&trans  &kp LCTRL             &kp LEFT_ALT  &kp LEFT_WIN  &mt LC(LSHFT) TAB  &lt 2 SPACE  &lt 3 DEL   &kp BACKSPACE  &kp ENTER  &none   &kp RALT   &kp RIGHT_SHIFT  &mo 3                 &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &mkp RCLK  &mkp LCLK  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans
            >;
        };

        number-and-fn {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                        &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &trans  &trans  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &trans
&trans  &kp F11       &kp F12       &none         &none         &none         &none   &none   &none         &none         &none         &none         &none         &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        kigou {
            bindings = <
&trans  &trans    &trans            &trans          &trans      &trans                                      &trans                &trans             &trans             &trans             &trans                    &trans
&trans  &kp EXCL  &kp LEFT_BRACKET  &kp HASH        &kp DOLLAR  &kp PERCENT                                 &kp EQUAL             &kp LS(NUMBER_6)   &kp DOUBLE_QUOTES  &kp ASTERISK       &kp LS(LEFT_PARENTHESIS)  &trans
&trans  &none     &none             &kp UP_ARROW    &none       &none        &trans          &trans         &kp NON_US_BACKSLASH  &kp RIGHT_BRACKET  &kp BACKSLASH      &kp SEMICOLON      &kp UNDER                 &trans
&trans  &mo 5     &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT   &none        &kp LEFT_BRACE  &kp AMPERSAND  &none                 &none              &kp LESS_THAN      &kp GREATER_THAN   &kp SLASH                 &trans
&trans  &trans    &trans            &trans          &trans      &trans       &trans          &trans         &trans                &trans             &trans             &kp RS(RIGHT_ALT)  &trans                    &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans          &trans          &trans           &trans  &trans                    &trans    &trans     &trans     &trans  &trans  &trans
&trans  &trans          &msc SCRL_UP    &trans           &trans  &trans                    &trans    &trans     &trans     &trans  &trans  &trans
&trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans  &trans  &trans    &mkp MB3  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans  &trans  &trans    &trans    &trans     &trans     &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans  &trans  &mkp MB4  &mkp MB5  &trans     &trans     &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans          &trans  &trans  &trans  &trans                    &trans  &trans           &trans    &trans   &trans     &trans
&trans  &trans          &trans  &trans  &trans  &trans                    &trans  &trans           &trans    &trans   &trans     &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp RIGHT_BRACE  &kp PIPE  &kp SQT  &kp COLON  &trans
&trans  &kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &kp PLUS  &trans  &trans  &kp LS(INT_YEN)  &trans    &trans   &trans     &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans           &trans    &trans   &trans     &trans
            >;
        };
    };
};
